body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.magic-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: 300ms;
}
.magic-btn:active {
  box-shadow: none;
}

.magic-btn > .icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}

.site-nav-link {
  color: currentColor;
  text-decoration: none;
}

.site-nav-link:hover {
  text-decoration: underline;
}

.site-nav-link.current {
  color: tomato;
}
.desc-1 {
  padding: 10px;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 10px;
}
.desc-2 {
  padding: 10px;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
}

.color-picker-option {
  display: inline-block;
  min-width: 64px;
  height: 64px;
  padding: 10px 20px;
  margin: 4px;
  border: none;
  outline: none;
  border-radius: 16px;
  cursor: pointer;
}

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #2a2a2a;
}

.title-link {
  display: inline-flex;
  margin-left: 40px;
}

.form-input {
  max-width: 200px;
  width: 100%;
  height: 38px;
  padding: 10px;
  border: 2px solid lightgreen;
  border-radius: 20px;
  outline: transparent;
}
