<section class="search-section">
  <div class="container">
    <form class="search-form js-search-form" name="searchImageForm">
      <div class="input-group mb-3">
        <input
          class="form-control js-search-input"
          type="text"
          name="searchKeyword"
          required
          placeholder="Find your first images..."
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          id="button-addon2"
        >
          Search photo
        </button>
      </div>
    </form>
  </div>
</section>
