h1 {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
h2 {
  font-size: 24px;
}
.container {
  width: 100%;
}
section {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #444;
}
.block {
  width: 75px;
  height: 75px;
  margin: 25px;
  border: 2px solid #333;
}
.active {
  background: orange;
}
.hide {
  display: none;
}
